<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header%>
</head>
<body>
  <h1>Hola Mundo</h1>
  <div class="container">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, corporis blanditiis consequuntur debitis rem minus cum eaque vero saepe vitae, soluta id sapiente sequi assumenda a distinctio porro, labore rerum?</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
