<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header%>
</head>
<body>
    <h1>Nuevo Usuario</h1>
    <div class="container p-4">
        <form action="" class="card card-body">
    <label for="nuevo usuario">Nuevo Usuario</label>
    <input type="text" class="form.control" name="nuevo usuario" id="nuevo usuario" placeholder="Ingresa el nuevo Usuario" autofocus required>
</form>
    </div>
</body>
</html>


